<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
  
      <link rel="stylesheet" href='/stylesheets/style.css'>

  
</head>

<body>
  <body>
   <%if(errors.length >= 1){%>
        <ul>
        <%for(var i = 0; i < errors.length; i++){%>
         <li class="alert alert-danger"><%= errors[i].msg %></li>
         <% }%>
         </ul>
      <% }%>
      
  <div class="overlay"></div>
  <div class="modal position">
    <img src= "/images/logo.png" class="logo">
    <div class="brand login-text">
      Sign in with your username / password<br><br>
      <strong>-------------------------------------------</strong><br><br>
      Connect with great people around the world. There is so much to share and learn.
    </div>
   <!-- <button class="brand login flat-button facebook " style="border-radius: 4px;">Continue with Facebook</button> -->
    <div class="form position">
      <a href="#"><button class="close" style="border-radius: 4px;">x</button></a>
      <div class="form-inner">
        <!-- Tabs-->
        <div class="tabs">
          <ul class="tabs">
            <li class="current" data-tab="member">
              <a href="/users/login">I am a member</a>
            </li>
            <li data-tab="new">
              <a href="/users/register">I am new here</a>
            </li>
          </ul>
          <!--Login Form -->
          <div class="form-content current" id="member">
            <form id="sign-in" method="post" action="/users/login" enctype="multipart/form-data">
              <input type="text" name="username" id="user" placeholder="USERNAME" class="field" required>
              <input type="password" name="password" placeholder="PASSWORD" class="field" required>
              <div class="clear"></div>
              <input type="checkbox" name="rmbrme" id="custom-check" class="check"><label for="custom-check" class="check-label secondary-text">Remember me</label><a href=""><span class="forgot secondary-text">Forgot password?</span></a>
              <button id="submit" name="sign-in-button" class="flat-button signin" style="border-radius: 4px;">Log In</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
