<!DOCTYPE html>
<html>
<head>
	<title>info</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/info.css">
  <link rel="stylesheet" type="text/css" href="css/project.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
	<nav class="navbar navbar-inverse">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse btn-group" id="myNavbar">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Messages</a></li>
                  <li class="w3-hide-small"><a href="#" class="glyphicon glyphicon-globe" title="News"><i class="fa fa-globe"></i></a></li>
                  <li class="w3-hide-small"><a href="#" class="glyphicon glyphicon-search" title="Account Settings"><i class="fa fa-user"></i></a></li>
                  <li class="w3-hide-small"><a href="#" class="glyphicon glyphicon-envelope" title="Messages"><i class="fa fa-envelope"></i></a></li>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Notification <span class="caret"></span>
                </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">One new friend request</a></li>
                    <li><a href="#">John Doe posted on your wall</a></li>
                    <li><a href="#">Jane likes your post</a></li>
                  </ul>
              </ul>
            </div>
      </nav>
		<!-- <div class="group">
			<h2 class="sty">INFORMATION ON THE UPCOMING EVENTS IN PARIS</h2>
		</div><br><br> -->

		<!-- <p class="dit">OUR FOCUS WILL BE ON THESE MOST-IN-DEMAND PROGRAMMING LANGUAGES:</p> -->

		<div class="phom"><br>
			<em><h2 class="sty">INFORMATION ON THE UPCOMING EVENTS IN PARIS</h2></em>
			<h4 class="dit">OUR FOCUS WILL BE ON THESE MOST-IN-DEMAND PROGRAMMING LANGUAGES:</h4>
			<img class="mey" src="/images/download.jpg"/>
			<h3 class="arrow">Ruby/Ruby on Rail</h3>
			<p>What is Rails?
				Rails is a web application development framework written in the Ruby language. It is designed to make programming web applications easier by making assumptions about what every developer needs to get started. It allows you to write less code while accomplishing more than many other languages and frameworks. Experienced Rails developers also report that it makes web application development more fun.

				Rails is opinionated software. It makes the assumption that there is a "best" way to do things, and it's designed to encourage that way - and in some cases to discourage alternatives. If you learn "The Rails Way" you'll probably discover a tremendous increase in productivity. If you persist in bringing old habits from other languages to your Rails development, and trying to use patterns you learned elsewhere, you may have a less happy experience.</p>
		
			<img class="mey" src="/images/download.png"/>
			<h3 class="arrow">Python/Django</h3>
			<p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It's free and open source. Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java.The language provides constructs intended to enable writing clear programs on both a small and large scale.</p>
		</div>

		<!-- <div class="phom">
			<img class="mey" src="img/images.jpg"/>
			<h3 class="arrow">Mobile Development(Android $ iOS)</h3>
			<p>Mobile application development is a term used to denote the act or process by which application software is developed for mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones.</p>
		</div>

		<div class="phom">
			<img class="mey" src="img/download (1).png"/>
			<h3 class="arrow">Php/Laravel</h3>
			<p>PHP (recursive acronym for PHP: Hypertext Preprocessor) is a widely-used open source general-purpose scripting language that is especially suited for web development and can be embedded into HTML. Laravel is a powerful MVC PHP framework, designed for developers who need a simple and elegant toolkit to create full-featured web applications. Laravel was created by Taylor Otwell. This is a brief tutorial that explains the basics of Laravel framework.</p>
		</div>

		<div class="phom">
			<img class="mey" src="img/download (1).jpg"/>
			<h3 class="arrow">MEAN Stack</h3>
			<p>The term MEAN stack refers to a collection of JavaScript based technologies used to develop web applications. MEAN is an acronym for MongoDB, ExpressJS, AngularJS and Node.js. From client to server to database, MEAN is full stack JavaScript. This article explores the basics of the MEAN stack and shows how to create a simple bucket list application.</p>
		</div> -->

	</div>


</body>
</html> 